<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControlLogin</servlet-name>
        <servlet-class>Controler.ControlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRegist</servlet-name>
        <servlet-class>Controler.ControlRegist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kelola</servlet-name>
        <servlet-class>Controler.kelola</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validasi</servlet-name>
        <servlet-class>Controler.validasi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>datakonfirmasi</servlet-name>
        <servlet-class>Models.datakonfirmasi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validasi_laporan</servlet-name>
        <servlet-class>Models.validasi_laporan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inputnotifikasi</servlet-name>
        <servlet-class>Controler.inputnotifikasi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControlLogin</servlet-name>
        <url-pattern>/AksesLogin/ControlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRegist</servlet-name>
        <url-pattern>/AksesLogin/ControlRegist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kelola</servlet-name>
        <url-pattern>/kelola</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validasi</servlet-name>
        <url-pattern>/validasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datakonfirmasi</servlet-name>
        <url-pattern>/datakonfirmasi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validasi_laporan</servlet-name>
        <url-pattern>/validasi_laporan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inputnotifikasi</servlet-name>
        <url-pattern>/inputnotifikasi</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
